.footer{
    margin-top: auto;
    padding-left: 50px;
    display: block;
    border: 1px solid #efe7da;
    background-color: #efe7da;
    width: 104%;
    margin-left: -50px;
    height: auto;
    color: #b29079;
    @media screen and (max-width:768px) { 
        .unregularList{
            font-size: 15px;
            margin-left: -10px;
        }
        .twitter{
            width: 25px;
            height: 25px;
        }
        .gmail{
            width: 29px;
            height: 29px;
        }
        .instagram{
            width: 25px;
            height: 25px;
        }
        .ftLogo{
            width: 90px;
            height: 90px;
            margin-top: -10px;
            margin-left: 170px;
        }
        .emriKompanis{
            font-size: 15px;
            margin-left: 115px;
        }
        .fototELogove{
            margin-left: 55px;
        }
        .adresaDiv{
            margin-left: -4%;
            margin-left: 50px;
            margin-top: 50px;
        }
        .copyrightList{
            font-size: 17px;
            margin-left: -90px;
        }
        .footLinku{
            font-size: 17px;
            margin-left: -75px;
        }
    }
}
.adresa{
    font-family: Arial, Helvetica, sans-serif;
}
.titulli{
    margin-left: 550px;
}
.email{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: -16px;
}
.emailAdresa{
    border: none;
    background-color: #efe7da;
    outline: none;
    color: #b29079;
}
.borderii{
    border-top: 2px solid #b29079;
    width: 189px;
}
.infopldh{
    margin-left: 50px;
}
.copy{
    margin-left: 270px;
    margin-top: -25px;
}
.link1{
    margin-left: 45px;
    text-decoration: none;
    color: #b29079;
}
.link2{
    margin-left: 20px;
    text-decoration: none;
    color: #b29079;
}
.social{
    margin-left: 30px;
}
.partner{
    margin-left: 550px;
    margin-top: -130px;
}
.lokacioni{
    margin-left: 1000px;
    margin-top: -180px;
}
.linqe{
    margin-left: 100px;
}