.footer{
    padding-left: 50px;
    display: block;
    border: 1px solid #efe7da;
    background-color: #efe7da;
    width: 104%;
    margin-left: -50px;
    height: auto;
    color: #b29079;
}
.footerUl{
    margin-left: 50px;
}
.instagramLi{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 120px;
    cursor: inherit;
    margin-top: -37px;
}
.ftLogo{
    width: 200px;
    height: 100px;
    margin-left: 80px;
}
.emriKompanis{
    margin-bottom: -50px;
    margin-left: 50px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.instagram{
    width: 40px;
    height: 50px;
}
.twitter{
    width: 40px;
    height: 50px;
    margin-left: 15px;
}
.gmail{
    width: 40px;
    height: 50px;
    margin-left: 15px;
}
.fototELogove{
    margin-left: 50px;
    margin-top: 80px;
}
.footerHr{
    width: 95%;
    color: #b29079;
    border: 1px solid #b29079;
    margin-left: -0.0px;
}
.copyrightList{
    margin-left: 60px;
}
.copyright{
    font-size: 20px;
}
.listaCompanis{
    margin-left: 80px;
    margin-top: -43px;
}
.linqet{
    margin-left: 85%;
    margin-top: -22px;
    list-style-type: none;
}
.footLista{
    font-size: 20px;
}
.footLinku{
    text-decoration: none;
    color: #b29079;
}
.footLinku:hover{
    color: #c1b6a4;
    text-decoration: underline;
}
.footLinku:active{
    color:#f6f5ec;
}