body{
    overflow-x: hidden;
    background: url("../img/mobilieri1.webp");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;    
    height: 450px;
}
.header{
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    margin-top: 7%;
    color: white;
    font-size: 300%;
}